<h1>Mi Perfil</h1>

<div class="profile-card">
    <p>Bienvenido, {{user.first_name}} {{user.apellido}}!</p>
    <p>Rol: {{user.role}}</p>

    <a href="/api/sessions/logout">Logout</a>

    <a class="btnMios" href="/realtimeproducts">Panel Premium</a>

    <a class="btnMios" href="/chat">Chat en vivo</a>
    <a class="btnMios" href="/api/products">Tienda</a>

</div>