<!-- realTimeProducts.handlebars -->

<div>
    <h2>Productos en tiempo real</h2>
    <h3 id="role">{{role}}</h3>
    <h3 id="email">{{email}}</h3>


    <!-- Formulario para agregar un nuevo producto -->
    <form>
        <input type="text" id="name" placeholder="Nombre" required>
        <input type="text" id="description" placeholder="Descripcion" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="image" id="img">
        <input type="text" id="code" placeholder="Codigo" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="category" placeholder="Categoria" required>
        <input type="text" id="thumbnail"  value="Sin Imagen">
        <button type="button" onclick="agregarProducto()" id="btnEnviar">Agregar Producto</button>
    </form>

    <!-- Lista de productos -->
    <div id="listaProductos">

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="/js/main.js"></script>
