
<h2>codigo: {{code}}</h2>
<h2>Total de la compra: {{amount}}</h2>
<h2>Fecha de la compra: {{purchase_datetime}}</h2>
<h2>Mail del comprador: {{purchaser}}</h2>

<form action="/api/products" method="post">
    <button>Volver a productos</button>
</form>